<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basic Concepts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
    <script src="/static/js/main.js" defer></script>
</head>
<body>
    <header>
        <div id="home">Home</div>
        <div id="basicConcepts">Basic Concepts</div>
        <div id="gamePlay">Playing the Game</div>
        <div id="advanced">Advanced Rules</div>
        <div id="deckBuilding">Deck Building</div>
        <div id="glossary">Glossary</div>
    </header>
    <div class="outer">
        <div class="inner">
            <div id="page1old">
                <br/>
                <h1>Basic Concepts</h1>
                <br/>
                <br/>
                <h2>Parts of a Card</h4>
                <br/>
                <div class="subsection">
                    <h3>Mana Cost</h5>
                    <p>Found in the upper right corner, this is cost you must pay to cast a particular spell. Each symbol requires one mana of that specific type. Symbols with a number or an ‘X’ inside are generic costs and can be paid for by mana of any type in any combination. (see #mana)</p>
                    <br/> 
                    <h3>Type Line</h5>
                    <p>Each card has a type along with any subtype or supertype it may have. (see #Card Types)</p>
                    <br/>
                </div>
            </div>
            <div id="page2old">
                <br/>
                <h1>Playing the game</h1>
                <br/>
                <br/>
                <h2>this is filler text, this isn't actually what should be here</h4>
                <br/>
            </div>
            <div class="grid-container">
                <div class="item1">Header</div>
                <div class="item2">Menu</div>
                <div class="item3">Main</div>  
                <div class="item4">Right</div>
                <div class="item5">Footer</div>
              </div>
        </div>
        (Mana is the main resource to cast spells. It is produced mainly by tapping lands and sometimes by other effects.)
    </div>
    <div class="footer">
        <span id="prevPage">&lt;</span>&nbsp;&nbsp; * 0 0 0 0 0 &nbsp;&nbsp;<span id="nextPage">&gt;</span>
    </div>
      
</body>
</html>
