{% extends "layout.html" %}
{% block content %}
    <div class="outer">
        <div class="grid-container">
            <div class="item1">
                <div class="inner">
                    <br>
                    <h1>Basic Concepts</h1>
                    <br>
                    <br>
                    <h2>Parts of a Card</h2>
                    <br>
                    <div class="subsection">
                        <h3>Mana Cost</h3>
                        <p>Found in the upper right corner, this is the cost you must pay to cast a particular spell.
                            Each symbol requires one mana of that specific type. Symbols with a number or an ‘X’ inside
                            are generic costs and can be paid for by mana of any type in any combination. <span style="font-style: italic;">(see #mana)</span>
                        </p>
                        <br>
                        <h3>Type Line</h3>
                        <p>Each card has a type. It may also have subtype or supertype. <span style="font-style: italic;">(see #Card Types)</span></p>
                        <br>
                    </div>
                </div>
            </div>
            <div class="item2">
                <div class="inner">
                    <br>
                    
                </div>
            </div>
            
            <div class="item3">
                <div class="inner">
                    <br>
                    
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="item3">theee</div>
    <div class="item4">faur</div>
    <div class="item5">fivv</div>
    </div>
    <span style="font-style: italic;">(Mana is the main resource to cast spells. It is produced mainly by tapping lands and sometimes by other effects.)</span>
    </div>
{% endblock %}