<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Let's Fight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/fight/main.css" />
    <script type="module" src="/static/js/fight/fight.js" defer></script>
    <script type="module" defer>
        // for debugging
        import {tileMap, spriteController, temp} from "/static/js/fight/fight.js";
        window.tileMap = tileMap;
        window.spriteController = spriteController;
        window.temp = temp;
    </script>
</head>
<body>
    {% if username %}
        <h1>Welcome {{ username }}!</h1>
    {% endif %}
<h1>Let's Fight!</h1> 
    <div class="main">
        <div class="viewport">
          <div class="tilemap">
          </div>
        </div>
    </div>
</body>
</html>
