{% extends "layout.html" %}
{% block content %}
    <div class="outer">
        <div class="inner">
            <h2>Overview</h4>
            <br/>
            <p>In a game of Magic: The Gathering, players battle as though they were great wizards, casting spells and summoning creatures to defeat their opponents. Use your library of spells and manage your resources to outlast and outwit your opponents. Survive long enough to eliminate all your opponents and win.</p>
            <br/>
            <br/>
            <h2>Additional Resources</h2>
            <p>Check out our <a href="https://georgec0stanza.github.io/magicRulebook.io/home.html">Parts of the Turn</a> reminder guide for a basic overview and indepth walkthrough of each turn.</p>
            <br/>
            <br/>
            <h2>More Info</h4>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
{% endblock %}
