<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basic Concepts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/pages.css">
    <script src="/static/js/main.js" defer=""></script>
</head>

<body>
    <header>
        <div id="home"><a href="/">Home</a></div>
        <div id="basicConcepts"><a href="/basic-concepts/">Basic Concepts</a></div>
        <div id="gamePlay">Gameplay</div>
        <div id="advanced">Advanced Rules</div>
        <div id="deckBuilding">Deck Building</div>
        <div id="glossary">Glossary</div>
    </header>
    <div class="outer">
        <div class="grid-container">
            <div class="item1">
                <div class="inner">
                    <br>
                    <h1>Playing the game</h1>
                    <br>
                    <br>
                    <h2>Setup</h2>
                    <br>
                    <ol>
                        <li><h4>Shuffle</h4>Each player shuffles his or her deck. Each player may then shuffle or cut their opponents’
                            decks.</li>
                        <li><h4>Determine turn order</h4>Players determine which player will go first (by flipping a coin, rolling dice, etc.).</li>
                        <li><h4>Draw 7 Cards</h4>Each player draws a number of cards equal to their hand size (hand sizes are seven cards unless
                            otherwise modified). A player who is dissatisfied with their initial hand may take a mulligan.
                            To take a mulligan, the starting player first declares that they will take a mulligan. He or she
                            shuffles his or her hand back into their deck and redraws their hand (This process can be
                            repeated multiple times if desired.). For each mulligan taken, that player must put that many
                            cards from their hand on the bottom of their deck.</li>
                        <li><h4>20 Life</h4>Each player starts with 20 life (some game variants may have different starting life totals)
                            which they are responsible for keeping track of (via dice, pen & paper, etc.).</li>
                    </ol>
                    <br>
                    <br>
                    <h2>Winning</h2>
                    <br>
                    <p>A player wins the game when all of their opponents have been eliminated (Though uncommon, it is possible for noone to win.). A player is eliminated from the game
                        when either of the following happens:</p>
                    <ol>
                        <li>His or her life total is reduced to 0 or below</li>
                        <li>He or she has to draw a card but cannot because their library has no cards remaining, or</li>
                        <li>He or she has ten or more poison counters, they lose the game. (A player receives a poison counter for each life lost from a source with infect.)</li>
                    </ol>
                    <p>Additionally, certain cards may create alternate win or loss conditions that when met can lead to
                        a win.</p>
                    <br>
                </div>
            </div>
            <div class="item2">
                <div class="inner">
                    <br>
                    <h1>Parts of the Turn</h1>
                    <br>
                    <br>
                    <h2>Structure</h2>
                    <br>
                    <p>	Magic is a turn based game in which players take alternating turns. Each turn contains 5 phases, three of which are broken down further into steps. Certain phases require certain turn based actions to be performed such as untapping permanents, drawing a card, etc.</p>
                    <br>
                    <h2>Phases</h2>
                    <br>
                    <div class="subsection">
                        <h3>Beginning Phase</h3>
                        <p>The active player:</p>
                        <ul>
                            <li>Untaps their permanents</li>
                            <li>Draws a card</li>
                        </ul>
                        <br>
                        <h3>Main Phase</h3>
                        <p>The active player:</p>
                        <ul>
                            <li>May play a land (only one land per turn)</li>
                            <li>Cast spells</li>
                        </ul>
                        <br>
                        <h3>Combat Phase</h3>
                        <ul>
                            <li>The active player declares attackers</li>
                            <li>Opponents declare blockers</li>
                            <li>Combat damage is dealt</li>
                        </ul>
                        <br>
                        <h3>Main Phase</h3>
                        <p>The active player:</p>
                        <ul>
                            <li>May play a land (only one land per turn)</li>
                            <li>Cast spells</li>
                        </ul>
                        <br>
                        <h3>End Phase</h3>
                        <ul>
                            <li>Damage is removed from all creatures</li>
                            <li>The active player discards down to seven cards</li>
                            <li>The active player passes the turn</li>
                        </ul>
                    </div>
                    <p>For more information, see our Parts of the Turn interactive guide.</p>
                </div>
            </div>
            <div class="item3">
                <div class="inner">
                    <br>
                    <h1>Game Actions</h1>
                    <br>
                    <br>
                    <h2>Tapping and Untapping</h2>
                    <br>
                    <p>Tapping a card is to turn it sideways, indicating that it has been used for the turn. Some actions that require tapping:</p>
                    <ul>
                        <li>Attacking: Creatures tap then they attack</li>
                        <li>Add Mana: Lands make mana when you tap them</li>
                        <li>Activating abilities: Some permanents are tapped as a cost for their activated abilities</li>
                    </ul>
                    <br>
                    <br>
                    <h2>Casting spells</h2>
                    <br>
                    <p></p>
                    <br>
                    <br>
                    <h2>Attacking</h2>
                    <br>
                    <p></p>
                    <br>
                    <br>
                    <h2>Blocking</h2>
                    <br>
                    <p></p>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="item3">theee</div>
    <div class="item4">faur</div>
    <div class="item5">fivv</div>
    </div>
    (Mana is the main resource to cast spells. It is produced mainly by tapping lands and sometimes by other effects.)
    </div>
    <div class="footer">
        <span id="prevPage">&lt;</span>&nbsp;&nbsp; * 0 0 0 0 0 &nbsp;&nbsp;<span id="nextPage">&gt;</span>
    </div>
</body>

</html>